* { box-sizing: border-box; }
body {
    font-family: "Comic Sans MS";
    margin: 20px;
    height: 100%; /* Занимает всю высоту экрана */
  background: linear-gradient(135deg, #800080, #ff69b4);
 color: #FFFFFF; /* Белый текст */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7), /* Мягкая чёрная тень */
               0 0 10px rgba(255, 255, 255, 0.5);
}
.slider {
    position: relative;
    text-align: center;
    top: 10px;
    max-width: 960px;
    margin: 0 auto;
}

.slides .slide {
    width: 7.142%;
    float: left;
}

.slides .slider-inner {
    width: 1400%; /* 100% * 9 слайдов */
}

.overflow {
    width: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.slide h2 {
    margin-top: -50px;
    background-color: rgba(255, 255, 255, 0.749);
    padding: 10px 0;
    position: relative;
    max-width: 100%;
}

.arrows label {
    height: 40px;
    width: 40px;
}
#switch1:checked ~ .arrows label:nth-child(14), 
#switch2:checked ~ .arrows label:nth-child(1),
#switch3:checked ~ .arrows label:nth-child(2),
#switch4:checked ~ .arrows label:nth-child(3),
#switch5:checked ~ .arrows label:nth-child(4), 
#switch6:checked ~ .arrows label:nth-child(5),
#switch7:checked ~ .arrows label:nth-child(6),
#switch8:checked ~ .arrows label:nth-child(7),
#switch9:checked ~ .arrows label:nth-child(8),
#switch10:checked ~ .arrows label:nth-child(9),
#switch11:checked ~ .arrows label:nth-child(10),
#switch12:checked ~ .arrows label:nth-child(11),
#switch13:checked ~ .arrows label:nth-child(12),
#switch14:checked ~ .arrows label:nth-child(13){
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='40' fill='lightgrey'%3E%3Cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z'/%3E%3C/svg%3E") center/cover no-repeat; 
    float: left;
    margin: 0 0 0 40px;
    display: block;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ .arrows label:nth-child(2),
#switch2:checked ~ .arrows label:nth-child(3),
#switch3:checked ~ .arrows label:nth-child(4),
#switch4:checked ~ .arrows label:nth-child(5),
#switch5:checked ~ .arrows label:nth-child(6), 
#switch6:checked ~ .arrows label:nth-child(7),
#switch7:checked ~ .arrows label:nth-child(8),
#switch8:checked ~ .arrows label:nth-child(9),
#switch9:checked ~ .arrows label:nth-child(10),
#switch10:checked ~ .arrows label:nth-child(11), 
#switch11:checked ~ .arrows label:nth-child(12),
#switch12:checked ~ .arrows label:nth-child(13),
#switch13:checked ~ .arrows label:nth-child(14),
#switch14:checked ~ .arrows label:nth-child(1) {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='40' fill='lightgrey'%3E%3Cpath d='M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z'/%3E%3C/svg%3E") no-repeat center/cover; 
    float: right;
    margin: 0 40px 0 0; 
    display: block;
}
label, a{ 
    cursor: pointer;
}

input[type="radio"] { display: none; }

#switch1:checked ~ .slides .slider-inner { margin-left: 0; }
#switch2:checked ~ .slides .slider-inner { margin-left: -100%; }
#switch3:checked ~ .slides .slider-inner { margin-left: -200%; }
#switch4:checked ~ .slides .slider-inner { margin-left: -300%; }
#switch5:checked ~ .slides .slider-inner { margin-left: -400%; }
#switch6:checked ~ .slides .slider-inner { margin-left: -500%; }
#switch7:checked ~ .slides .slider-inner { margin-left: -600%; }
#switch8:checked ~ .slides .slider-inner { margin-left: -700%; }
#switch9:checked ~ .slides .slider-inner { margin-left: -800%; }
#switch10:checked ~ .slides .slider-inner { margin-left: -900%; }
#switch11:checked ~ .slides .slider-inner { margin-left: -1000%; }
#switch12:checked ~ .slides .slider-inner { margin-left: -1100%; }
#switch13:checked ~ .slides .slider-inner { margin-left: -1200%; }
#switch14:checked ~ .slides .slider-inner { margin-left: -1300%; }

.arrows {
    margin: -29% 0 0 0;
    width: 100%;
    height: 50px;
}

.dots label {
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #bbb;
}

.dots {
    margin: 23% 0 0;
    text-align: center;
}

.dots label:hover {
    background: #76c8ff;
    border-color: #777 !important;
}

#switch1:checked ~ .dots label:nth-child(1),
#switch2:checked ~ .dots label:nth-child(2),
#switch3:checked ~ .dots label:nth-child(3),
#switch4:checked ~ .dots label:nth-child(4),
#switch5:checked ~ .dots label:nth-child(5),
#switch6:checked ~ .dots label:nth-child(6),
#switch7:checked ~ .dots label:nth-child(7),
#switch8:checked ~ .dots label:nth-child(8),
#switch9:checked ~ .dots label:nth-child(9),
#switch10:checked ~ .dots label:nth-child(10),
#switch11:checked ~ .dots label:nth-child(11),
#switch12:checked ~ .dots label:nth-child(12),
#switch13:checked ~ .dots label:nth-child(13),
#switch14:checked ~ .dots label:nth-child(14){
    background: #18a3dd;
    border-color: #18a3dd !important;
}

.slides .slider-inner {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.arrows label:hover {
    opacity: 0.6;
}
.arrows label {
    transition: opacity 0.2s ease-out;
}

@media (max-width: 480px) {
    .arrows label {
        width: 25px;
        height: 25px;
    }
    .slide h2 {
        font-size: 1.2em;
        padding: 6px 0;
    }
    .dots {
        margin-top: 16%;
    }
    .dots label {
        width: 10px;
        height: 10px;
    }
}

.textf {
    margin: 0 auto 20px; /* Центрирование и отступ снизу */
    text-align: left; /* Выравнивание текста по левому краю */
    font-size: 1.2em; 
    margin-left: 30px
}
.a {
    width: 400px;
     margin-left: 100px;
}
.b {
     width: 400px;
    align-items: center;
}
.c {
    width: 400px;
    margin-right: 50px;
}
.text {
    text-align: center;
    font-size: 20px; 
    width: 50%;
    margin: 20px auto; 
}

.first {
    text-align: left; 
    font-size: 20px;
    width: 80%; 
    margin: 0 auto;
    margin-left: 40px

}
.text-container {
    display: flex;
    overflow: hidden;
    margin: 20px auto;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center;
}
.container img {
    width: 50%; /* Устанавливает ширину изображения на 50% от ширины контейнера */
    max-width: 500px; /* Ограничивает максимальную ширину изображения */
    height: auto; /* Поддерживает пропорции изображения */
}
.mine {
    text-align: center;
    margin-top: 50px 
}
.mof {
     font-size: 20px; 
     margin-left: 20px;
     margin-bottom: 80px
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 40px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
 text-shadow: none;
}

.header-container h1 {
  font-size: 32px;
  color: #333;
  font-weight: bold;
  margin: 0;
}

.header-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
